.message {
    display: flex;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin: 4px;
    padding-top: 2px;
    padding-left: 3px;
}

.name {
    position: fixed;
    margin-top: -4rem;
    font-size: 0.75rem;
    color: black;
    top: 210px;
}